@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.title {
  animation: fade-in 7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    background-position: -100% 50%;
  }

  50% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.earth {
  animation: spin 10s infinite linear;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.sun .ray {
  animation: grow 1.5s infinite ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes fire {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.rocket .flame {
  animation: fire 200ms infinite ease-in-out;
  transform-origin: 100% 0%;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(2000px, -2000px) scale(0.2);
  }
}

.rocket:focus {
  animation: fly 1s ease-in;
  outline: none;
}
